pre {
  margin: 50px auto;
  position: relative;
  font-size: 1rem;
  max-width: 50%;
  max-height: 100px;
  overflow: auto;
}

.copy-btn {
  display: inline;
  position: absolute;
  top: 0px;
  right: 0px;
  cursor: pointer;
}

.copy-btn:hover {
  color: blue;
}
